<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style type="text/css">
  
  ul {
	display: inline-block !important;
}
  
  </style>
  
</head>
<body>
<div class="fixed_bar">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid" style="display: block !important;">
	    <div class="navbar-header">
	      <img alt="ThoughtClan Technologies" src="../images/clan.png" class="navbar-brand" >
	    </div>
	    <ul class="nav navbar-nav">
	     
	      <li><a href="/customer">Customers</a></li>
	      <li><a href="/all-groups">Groups</a></li>
	      <li><a href="/filter">Filter Records</a></li>
	      <li><a href="/add">Add Customer</a></li>
	    </ul>
	  </div>
	</nav>
</div>
</body>
</html>
